
@{
    ViewData["Title"] = "Pagina Principal";
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {

        GetClients();



    })
    function validar_campo(evento) {
        evento.value = evento.value.replace(/[^0-9]/g, "");
    }

    function openModal(val) {
        
        if (val == 'Service') {
            
            $("#modalcountry").modal("hide");
            $("#modalService").modal("show");
        }
        if (val == 'country') {
            clearCountry();
            $("#btncountry").val('Agregar');
            $("#modalService").modal("hide");
            $("#modalcountry").modal("show");
        }


    }

    function SetClients() {
        var id = $("#inpid").val() == "" ? 0 : $("#inpid").val();
        var nametext = $("#inpname").val();
        var nittext = $("#inpnit").val();
        var emailtext = $("#inpemail").val();
        var database = $("#ddlDB").val();

        $.ajax({
            url: '@Url.Action("SetClients", "Client")',
            type: "post",
            data: {id:id, Name: nametext, Email: emailtext, Nit: nittext, db: database },
            cache: false,
            success: function (retorno) {

                $("#listClients").html(retorno);
                $('a.edit').click(function () {
                    var cod = $(this).parents("tr").find("td").eq(1).html();
                    var nit = $(this).parents("tr").find("td").eq(2).html();
                    var name = $(this).parents("tr").find("td").eq(3).html();
                    var email = $(this).parents("tr").find("td").eq(4).html();
                    $("#inpid").val(cod);
                    $("#inpname").val(name);
                    $("#inpnit").val(nit);
                    $("#inpemail").val(email);
                });
                $('a.service').click(function () {
                    var cod = $(this).parents("tr").find("td").eq(1).html();
                    var name = $(this).parents("tr").find("td").eq(3).html();

                    $("#idcli").val(cod);
                    $("#nomcli").val(name);
                    clearServices();
                    GetService(cod);
                    openModal('Service');
                });
                clearClient();
            },
            error: function () {
                alert("Se ha producido un error");
            }
        });
    }



    function GetClients(acc) {
        var database = $("#ddlDB").val();
        $.ajax({
            url: '@Url.Action("GetClients", "Client")',
            data: { db: database, acc: acc },
            type: "post",
            cache: false,
            success: function (retorno) {

                    $("#listClients").html(retorno);
                    $('a.edit').click(function () {
                        var cod = $(this).parents("tr").find("td").eq(1).html();
                        var nit = $(this).parents("tr").find("td").eq(2).html();
                        var name = $(this).parents("tr").find("td").eq(3).html();
                        var email = $(this).parents("tr").find("td").eq(4).html();
                        $("#inpid").val(cod);
                        $("#inpname").val(name);
                        $("#inpnit").val(nit);
                        $("#inpemail").val(email);
                    });
                    $('a.service').click(function () {
                        var cod = $(this).parents("tr").find("td").eq(1).html();
                        var name = $(this).parents("tr").find("td").eq(3).html();

                        $("#idcli").val(cod);
                        $("#nomcli").val(name);
                        clearServices();
                        GetService(cod);
                        openModal('Service');
                    });


            },
            error: function () {
                alert("Se ha producido un error");
            }
        });
    }

    function clearClient() {
        $("#inpid").val('');
        $("#inpname").val('');
        $("#inpnit").val('');
        $("#inpemail").val('');

    }
    function SetService(accion) {
        var id = $("#inpidS").val() == "" ? 0 : $("#inpidS").val();
        var nametext = $("#inpnameService").val();
        var clienttext = $("#idcli").val();
        var vlrhrstext = $("#inpVlrHrsService").val();


        var database = $("#ddlDB").val();

        $.ajax({
            url: '@Url.Action("SetService", "Service")',
            type: "post",
            data: { id: id, Name: nametext, idclient: clienttext, Horavlr: vlrhrstext, db: database, accion: accion },
            cache: false,
            success: function (retorno) {

                $("#listService").html(retorno);
                $('a.editServ').click(function () {
                    var cod = $(this).parents("tr").find("td").eq(1).html();
                    var name = $(this).parents("tr").find("td").eq(2).html();
                    var vlr = $(this).parents("tr").find("td").eq(3).html();

                    $("#inpidS").val(cod);
                    $("#inpnameService").val(name);
                    $("#inpVlrHrsService").val(vlr);

                    $("#btndelete").html('<div class="col-lg-2 " style="margin-top:19px"><a href="#" class="btn btn-danger btn-sm deleteServ" style="font-size:xx-small">Delete</a></div>');
                    $('a.deleteServ').click(function () {
                        SetService(1);
                    });
                });
                
                $('a.Country').click(function () {
                    var cod = $(this).parents("tr").find("td").eq(1).html();
                    var name = $(this).parents("tr").find("td").eq(2).html();

                    $("#idServ").val(cod);
                    $("#nomServ").val(name);
                    clearCountry();
                    GetCountry(cod);
                    openModal('country');
                });
                clearServices();

            },
            error: function () {
                alert("Se ha producido un error");
            }
        });
    }

    function GetService(idclient) {
        var database = $("#ddlDB").val();
        $.ajax({
            url: '@Url.Action("GetService", "Service")',
            data: { db: database, idclient: idclient },
            type: "post",
            cache: false,
            success: function (retorno) {

                $("#listService").html(retorno);
                $('a.editServ').click(function () {
                    var cod = $(this).parents("tr").find("td").eq(1).html();
                    var name = $(this).parents("tr").find("td").eq(2).html();
                    var vlr = $(this).parents("tr").find("td").eq(3).html();

                    $("#inpidS").val(cod);
                    $("#inpnameService").val(name);
                    $("#inpVlrHrsService").val(vlr);
                    $("#btndelete").html('<div class="col-lg-2 " style="margin-top:19px"><a href="#" class="btn btn-danger btn-sm deleteServ" style="font-size:small">Delete</a></div>');
                    $('a.deleteServ').click(function () {
                        SetService(1);
                    });
                });
                $('a.Country').click(function () {
                    var cod = $(this).parents("tr").find("td").eq(1).html();
                    var name = $(this).parents("tr").find("td").eq(2).html();

                    $("#idServ").val(cod);
                    $("#nomServ").val(name);
                    clearCountry();
                    GetCountry(cod);
                    openModal('country');
                });
            },
            error: function () {
                alert("Se ha producido un error");
            }
        });
    }

    function clearServices() {
        $("#inpidS").val('');
        $("#inpnameService").val('');
        $("#inpVlrHrsService").val('');
        $("#inpPais").val('');
        $("#btndelete").html('');
    }

    function SetCountry() {
        var id = $("#inpidPais").val() == "" ? 0 : $("#inpidPais").val();
        var pais = $("#inpPais").val();
        var idServ = $("#idServ").val();
        var database = $("#ddlDB").val();

        $.ajax({
            url: '@Url.Action("SetCountry", "Country")',
            type: "post",
            data: { id: id, pais: pais, idServ: idServ, pais: pais, db: database },
            cache: false,
            success: function (retorno) {

                $("#listCountry").html(retorno);
                $('a.editcountrey').click(function () {
                    var cod = $(this).parents("tr").find("td").eq(1).html();
                    var name = $(this).parents("tr").find("td").eq(2).html();                    

                    $("#inpidPais").val(cod);
                    $("#inpPais").val(name);
                    $("#btncountry").val('Delete');
                });
                clearCountry();
                GetPais(cod);
               

            },
            error: function () {
                alert("Se ha producido un error");
            }
        });
    }
    function GetCountry(idserv) {
        var database = $("#ddlDB").val();
        $.ajax({
            url: '@Url.Action("GetCountry", "Country")',
            data: { db: database, idserv: idserv },
            type: "post",
            cache: false,
            success: function (retorno) {

                $("#listCountry").html(retorno);
                $('a.editcountrey').click(function () {
                    var cod = $(this).parents("tr").find("td").eq(1).html();
                    var name = $(this).parents("tr").find("td").eq(2).html();

                    $("#inpidPais").val(cod);
                    $("#inpPais").val(name);
                    $("#btncountry").val('Delete');
               
                });
            },
            error: function () {
                alert("Se ha producido un error");
            }
        });
    }
    function clearCountry() {
        $("#inpidPais").val('');
        $("#inpPais").val('');
        $("#btncountry").val('Agregar');


    }
</script>
}

<div class="panel panel-default" style="margin-top:10px">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-2 ">
                <span class="label label-info">CLIENT</span>
            </div>
            <div class="col-lg-2" style="float:right">
                <input type="button" class="btn btn-default" value="Cargar Info" onclick="GetClients('Tbl');" />
            </div>
            <div class="col-lg-3" style="float:right">
                <select id="ddlDB" class="form-control">
                    <option value="out">Sql Server</option>
                    <option value="in">Memory Storage</option>
                </select>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-top:10px">

            <div class="col-lg-2 ">
                <span>Id</span>
                <input id="inpid" type="text" class="form-control" disabled="disabled" />
            </div>
            <div class="col-lg-2 ">
                <span>Nit</span>
                <input id="inpnit" type="text" class="form-control" />
            </div>
            <div class="col-lg-3">
                <span>Name</span>
                <input id="inpname" type="text" class="form-control" />
            </div>
            <div class="col-lg-3 ">
                <span>Email</span>
                <input id="inpemail" type="email" class="form-control"  />
            </div>
        </div>
    </div>
</div>





<div class="row" style="margin-top:10px">
    <div class="col-lg-12 ">
        <div class="btn-group-sm">
            <input type="button" class="btn btn-default" value="Agregar" onclick="SetClients();" />
           
            <input type="button" class="btn btn-default" value="Clear" onclick="clearClient();" />
        </div>

    </div>
</div>
<div id="listClients" style="margin-top:10px"></div>




<div id="modalService" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-2" style="margin-top:10px">
                        <span class="label label-info">Gestion Servicios</span>
                    </div>
                   
                    <div class="col-lg-1" style="margin-top:10px">
                        <span>Client</span>
                    </div>
                    <div class="col-sm-2">
                        <input id="idcli" type="text" class="form-control" disabled="disabled" />
                    </div>
                    <div class="col-sm-4">
                        <input id="nomcli" type="text" class="form-control" disabled="disabled" />
                    </div>
                </div>

            </div>
            <div class="modal-body">
             
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-2 ">
                        <span>Id</span>
                        <input id="inpidS" type="text" class="form-control" disabled="disabled" />
                    </div>
                   
                    <div class="col-lg-4">
                        <span>Name</span>
                        <input id="inpnameService" type="text" class="form-control" />
                    </div>
                    <div class="col-lg-2 ">
                        <span>Valor Horas</span>
                        <input id="inpVlrHrsService" type="number" class="form-control" />
                    </div>
                   
                    <div class="col-lg-2 " style="margin-top:19px">
                        <input type="button" class="btn btn-default" value="Add" onclick="SetService(0);" />
                        <input type="button" class="btn btn-default" value="Clear" onclick="clearServices();" />
                    </div>
                    <div id="btndelete"></div>
                    </div>
                <hr />
             
                <div id="listService" style="margin-top:10px"></div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modalcountry" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-2" style="margin-top:10px">
                        <span class="label label-info">Servicio Paises</span>
                    </div>

                    <div class="col-lg-1" style="margin-top:10px">
                        <span>Servicio</span>
                    </div>
                    <div class="col-sm-2">
                        <input id="idServ" type="text" class="form-control" disabled="disabled" />
                    </div>
                    <div class="col-sm-2">
                        <input id="nomServ" type="text" class="form-control" disabled="disabled" />
                    </div>
                </div>

            </div>
            <div class="modal-body">

                <div class="row" style="margin-top:10px">
                    <div class="col-lg-2 ">
                        <span>Id</span>
                        <input id="inpidPais" type="text" class="form-control" disabled="disabled" />
                    </div>                   
                    <div class="col-lg-2 ">
                        <span>Country</span>
                        <select id="inpPais" class="form-control">
                            <option value="">Seleccione</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Peru">Peru</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Chile">Chile</option>
                            <option value="Paraguay">PAraguay</option>
                        </select>
                    </div>
                    <div class="col-lg-2 " style="margin-top:19px">
                        <input id="btncountry" type="button" class="btn btn-default" value="Agregar" onclick="SetCountry();" />
                    </div>
                </div>
                <hr />

                <div id="listCountry" style="margin-top:10px"></div>


            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" value="Close" onclick="openModal('Service');" />                
            </div>
        </div>
    </div>
</div>  